<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ING test page</title>
    <style>
        * {
            box-sizing: border-box;
            border: solid 1px grey;
        }

        .page {
            width: 980px;
            margin: auto;
        }

        .input_image {
            display: flex;
        }

        .input_image--left {
            flex: 1;
        }

        .input_image--right {
            flex: 1;
        }


    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <a href="/faces_extractor">
        <p>faces_extractor</p>
    </a>
</body>
</html>